<div class="loading" ng-show="loading">
    <div class="controll">
        <img src="./assets/img/loading.gif" alt="Image loading">
        <p>procurando...</p>
    </div>
</div>

<div ng-include="'./view/parts/header.html'"></div>
<main class="container">
    <section class="box box-search">
        <h1>Qual o nome do personagem que quer conhece hoje?</h1>
        <input type="text" name="search" id="search-field" ng-model="character.name" placeholder="Pesquisar..."> 
        <button
            ng-click="search(character.name)" ng-hide="!character.name" id="btn-search"
><i
                class="fas fa-search"></i></button>
    </section>

    <section class="box box-display" ng-show="count > 0">
        <div class="content">
            <p class="infor-search" ng-show="count > 0">Foram encontrados {{count}} registros para
                <strong>{{character.name}}</strong>
            </p>
            <div class="item" ng-repeat="character in characters">
                <a href="#!/character/{{character.id}}">
                    <div class="thumbnail">
                        <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="">
                    </div>
                    <h2 class="name">{{character.name | uppercase}}</h2>
                </a>
            </div>
        </div>
    </section>

    <div class="display-error box" ng-show="count == 0">
        <div class="not-found-error">
            <p>Nem ele foi capaz de encontrar o que tanto procura...</p>
            <img src="./assets/img/not_found_image.jpg" alt="Image not found">
        </div>
    </div>
</main>

<div ng-include="'./view/parts/footer.html'"></div>