/*reset*/
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background: #302e2e;
    font-size: 16px;
    font-family: 'Marvel', sans-serif;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}


* {
scrollbar-width: auto;
scrollbar-color: #c7c7c7 #ffffff;
}

*::-webkit-scrollbar {
width: 16px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #c7c7c7;
border-radius: 10px;
border: 3px solid #ffffff;
}

.container{
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}
.box{
    border-radius: 20px;
    padding: 20px;
}
.box-search{
    background: #ff0000;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
}

.box-search #search-field{
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    width: 89%;
    margin-right: 1%;
    color: #302e2e;
    font-size:  1.0em;
    transition: 0.3s;
}

.box-search #search-field:focus{
    border: 1px solid #302e2e;
}

.box-search #btn-search{
    display: block;
    width: 6%;
    background: #FFF;
    border: none;
    color: #ff0000;
    border-radius: 35px 35px 35px 35px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s; 
}
.box-search #btn-search:hover{
    margin-left: 2px;
}

.box-search h1{
    margin: 0;
    color: #FFF;
    font-size: 1.3em;
    text-align: center;
}
.box-display{
    background: #FFF;
}
.box-display .content{
    max-height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
}
.box-display h2{
    color: #302e2e;
    font-size: 1em;
    margin: 0;
}
.box-display .item a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.box-display .item{
    display: flex;
    margin-bottom: 15px;
    width: 33.333%;
    transition: 0.5s;
}
.box-display .item:hover h2{
    color: #ff0000
}
.box-display .item:hover .thumbnail{
    border: 1px solid #ff0000;
}
.box-display .thumbnail{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #f0f0f0;
    margin-right: 10px;
}
.box-display .thumbnail img{
    max-width: 100%; 
    display: block;
    margin: 0 auto;   
}
.box-display .infor-search{
    font-size: 0.87em;
    color: #302e2e;
    display: inline-block;
    width: 100%;
}
.box-display .infor-search strong{
    font-style: italic;
}
footer p{
    color: #fff;
    font-size: 0.87em;
    text-align: center;
}
.display-error p{
    font-size: 1.0em;
    color: #ff0000;
    font-weight: bold;
}
.display-error img{
    max-width: 100%;
}

.display-error {
    background: #FFF;
}

.loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.850);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 9999;
}
.loading p{
    font-size: 1.5em;
    color: #FFF;
    margin-top: 5px;
    text-align: center;
}

.box-details{
    background: #FFF;
    position: relative;
    overflow: hidden;
}
.box-details h1{
    font-size: 1.5em;
    color: #302e2e;
    margin-bottom: 5px;
}

.box-details h2{
    font-size: 1.0em;
    color: #302e2e;
    margin-top: 0px;
}

.box-details .thumbnails{
    width: 40%;
    height: 275px;
    overflow: hidden;
}
.box-details .thumbnails img{
    max-width: 100%;
    border-radius: 15px;
}
.comic-list{
    display: block;
    width: 95%;
    max-height: 244px;
    overflow-y: scroll;
    margin-right: 15px;
}
.box-comics{
    min-width: 60%;
}
.box-comics h3{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}
.content-details{
    display: flex;
}
.header-details{
    border-bottom: 1px solid rgb(245, 245, 245);
    margin-bottom: 20px;
}
.box-details .btn-prev{
    display: block;
    min-height: 102px;
    width: 50px;
    background: #ff0000;
    color: #FFF;
    display: block;
    position: absolute;
    right: -50px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85em;
    text-decoration: none;
    flex-wrap: wrap;
    transition: 0.3s;
    border-radius: 0px 0px 0px 25px;
}
.box-details .btn-prev i{
    font-size: 25px;
}

.box-details:hover a{
    right: 0;
}

.others-characters{
    width: 100%;
    display: flex;
    margin-top: 200px;
    flex-wrap: wrap;
}
.others-characters h4{
    font-size: 1em;
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}
.others-characters ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.others-characters a{
    text-decoration: none;
    color: #302e2e;
    font-size: 0.95em;
    transition: 0.3s;
    display: block;
}
.others-characters a:hover{
    margin-top: -3px
}
.others-characters a .thumbnail{
    width: 150px;
    height: 150px;
    overflow: hidden;

}

.others-characters a .thumbnail img{
    max-width: 100%;
    border-radius: 10px;
}

@media(max-width: 1100px){
    .box-display .item{
        width: 50%;
    }
    .others-characters{
        margin-top: 30px;
    }
    .box-search #btn-search{
        width: 400px;
        margin: 10px auto 0px auto ;
    }
    .box-search #btn-search:hover{
        margin: 12px auto 0px auto ;
    }
}

@media(max-width: 800px){
}

@media(max-width: 650px){
    .box-display .item{
        width: 100%;
    }
    .others-characters ul{
        flex-flow: column;
    }
    .others-characters a{
        display: flex;
        font-size: 1.2em;
        align-items: center;
        margin-bottom: 10px;
    }
    .others-characters a .thumbnail{
        padding-right: 10px;
    }

    .content-details {
        flex-wrap: wrap-reverse;
    }
    .box-details .thumbnails {
        width: 50%;
        height: 150px;
        margin: 0 auto;
    }
    .box-comics {
        min-width: 100%;
        margin-top: 4%;
    }

}

@media(max-width: 550px){
    .box-search #btn-search{
        width: 100%;
        margin-top: 10px;
        border-radius: 20px;
    }
}